<div class="page-content__wrap">
  <div class="page-content__head">
    <div class="page-content__title">Your cart</div>
    <div class="breadcrumbs">
      <a class="breadcrumbs__prev-link">Home</a>
      <div class="breadcrumbs__arrow"></div>
      <a class="breadcrumbs__curr-link">Checkout</a>
    </div>
  </div>
  <div class="page-content__body">

    <div class="flex-table">
      <div class="flex-table__head">
        <div class="flex-table__head-row">
          <div class="flex-table__head-cell">Product name</div>
          <div class="flex-table__head-cell">Price</div>
          <div class="flex-table__head-cell">Quantity</div>
          <div class="flex-table__head-cell">Remove</div>
        </div>
      </div>
      <div class="flex-table__body">
        <div class="flex-table__body-row" *ngFor="let item of cartService.basket">
          <div class="flex-table__body-cell">
            <div class="flex-table__body-cell-inner-wrap">
              <div class="flex-table__body-cell-item">
                <div class="flex-table__cell-item-pic" [style.background-image]="'url(' + item.imgUrl + ')'"></div>
              </div>
              <div class="flex-table__body-cell-item">
                <div class="flex-table__cell-item-title">{{ item.name }}</div>
                <div class="flex-table__cell-item-id">{{ item.id }}</div>
              </div>
            </div>
          </div>
          <div class="flex-table__body-cell">{{ item.price | currency:'$':'symbol':'1.0-2' }}</div>
          <div class="flex-table__body-cell">
            <div class="flex-table__cell-inner-wrap">
              <input class="flex-table__input" type="number" min="1" [(ngModel)]="item.quantity">
<!--              <a class="link">Update</a>-->
            </div>
          </div>
          <div class="flex-table__body-cell">
            <button class="btn close-btn" (click)="deleteItem(item)"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
