$red:#AE0000;
$white:#FFFFFF;
$black:#000000;
$grey:#1B1B1B;
$dark-grey: #0B0B0B;

$columnsNumber:12;
$columnsGutter:1.6rem;

$bp-xs: 0px;
$bp-sm:768px;
$bp-md:991px;
$bp-lg: 1280px;
$bp-xl:1440px;

$base-ff: 'SF Pro Display', sans-serif;
$fw-b: bold;
$fw-n: normal;
